<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <title>Belle Marquise</title>
<meta charset="utf-8" />
<meta name="author" content="" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>

body {
  background: #FFF;
  color: #000;
  font-family: Helvetica, sans-serif;
}

p, q {
  font-size: 200%;
}

p.credit {
  text-align: right;
  text-decoration: underline;
}

q {
  font-style: italic;
}

q::before { 
  content: "«\00A0";
}
q::after {
  content: '\00A0»';
}

</style>
</head>
<body role="document">

  <p>Ou bien :</p>
  <q>{{ marquise }}</q>
  <p class="credit">Le Bourgeois gentilhomme, II, 4.0-rc1</p>

</body>
</html>
