<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <title>Belle Marquise</title>
<meta charset="utf-8" />
<meta name="author" content="" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>

body {
  background: #fff;
  color: #000;
  font-family: Helvetica, sans-serif;
}

h3{
  text-align: center;
  font-size: 200%;
}

</style>
</head>
<body role="document">

  <h3>{{ marquise }}</h3>

</body>
</html>
